DecouplingKata/bin/Debug/net8.0/DecouplingKata.deps.json
DecouplingKata/bin/Debug/net8.0/DecouplingKata.dll
DecouplingKata/bin/Debug/net8.0/DecouplingKata.pdb
DecouplingKata/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
DecouplingKata/obj/Debug/net8.0/DecouplingKata.AssemblyInfo.cs
DecouplingKata/obj/Debug/net8.0/DecouplingKata.AssemblyInfoInputs.cache
DecouplingKata/obj/Debug/net8.0/DecouplingKata.assets.cache
DecouplingKata/obj/Debug/net8.0/DecouplingKata.csproj.CoreCompileInputs.cache
DecouplingKata/obj/Debug/net8.0/DecouplingKata.csproj.FileListAbsolute.txt
DecouplingKata/obj/Debug/net8.0/DecouplingKata.dll
DecouplingKata/obj/Debug/net8.0/DecouplingKata.GeneratedMSBuildEditorConfig.editorconfig
DecouplingKata/obj/Debug/net8.0/DecouplingKata.GlobalUsings.g.cs
DecouplingKata/obj/Debug/net8.0/DecouplingKata.pdb
DecouplingKata/obj/Debug/net8.0/DecouplingKata.sourcelink.json
DecouplingKata/obj/Debug/net8.0/ref/DecouplingKata.dll
DecouplingKata/obj/Debug/net8.0/refint/DecouplingKata.dll
DecouplingKata.Tests/bin/Debug/net8.0/CoverletSourceRootsMapping_DecouplingKata.Tests
DecouplingKata.Tests/bin/Debug/net8.0/DecouplingKata.dll
DecouplingKata.Tests/bin/Debug/net8.0/DecouplingKata.pdb
DecouplingKata.Tests/bin/Debug/net8.0/DecouplingKata.Tests.deps.json
DecouplingKata.Tests/bin/Debug/net8.0/DecouplingKata.Tests.dll
DecouplingKata.Tests/bin/Debug/net8.0/DecouplingKata.Tests.pdb
DecouplingKata.Tests/bin/Debug/net8.0/DecouplingKata.Tests.runtimeconfig.json
DecouplingKata.Tests/bin/Debug/net8.0/Microsoft.TestPlatform.CommunicationUtilities.dll
DecouplingKata.Tests/bin/Debug/net8.0/Microsoft.TestPlatform.CoreUtilities.dll
DecouplingKata.Tests/bin/Debug/net8.0/Microsoft.TestPlatform.CrossPlatEngine.dll
DecouplingKata.Tests/bin/Debug/net8.0/Microsoft.TestPlatform.PlatformAbstractions.dll
DecouplingKata.Tests/bin/Debug/net8.0/Microsoft.TestPlatform.Utilities.dll
DecouplingKata.Tests/bin/Debug/net8.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
DecouplingKata.Tests/bin/Debug/net8.0/Microsoft.VisualStudio.TestPlatform.Common.dll
DecouplingKata.Tests/bin/Debug/net8.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
DecouplingKata.Tests/bin/Debug/net8.0/Newtonsoft.Json.dll
DecouplingKata.Tests/bin/Debug/net8.0/NuGet.Frameworks.dll
DecouplingKata.Tests/bin/Debug/net8.0/testhost.dll
DecouplingKata.Tests/bin/Debug/net8.0/xunit.abstractions.dll
DecouplingKata.Tests/bin/Debug/net8.0/xunit.assert.dll
DecouplingKata.Tests/bin/Debug/net8.0/xunit.core.dll
DecouplingKata.Tests/bin/Debug/net8.0/xunit.execution.dotnet.dll
DecouplingKata.Tests/bin/Debug/net8.0/xunit.runner.reporters.netcoreapp10.dll
DecouplingKata.Tests/bin/Debug/net8.0/xunit.runner.utility.netcoreapp10.dll
DecouplingKata.Tests/bin/Debug/net8.0/xunit.runner.visualstudio.dotnetcore.testadapter.dll
DecouplingKata.Tests/bin/Debug/net8.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
DecouplingKata.Tests/bin/Debug/net8.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
DecouplingKata.Tests/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
DecouplingKata.Tests/obj/Debug/net8.0/Decoupli.967E1D82.Up2Date
DecouplingKata.Tests/obj/Debug/net8.0/DecouplingKata.Tests.AssemblyInfo.cs
DecouplingKata.Tests/obj/Debug/net8.0/DecouplingKata.Tests.AssemblyInfoInputs.cache
DecouplingKata.Tests/obj/Debug/net8.0/DecouplingKata.Tests.assets.cache
DecouplingKata.Tests/obj/Debug/net8.0/DecouplingKata.Tests.csproj.AssemblyReference.cache
DecouplingKata.Tests/obj/Debug/net8.0/DecouplingKata.Tests.csproj.CoreCompileInputs.cache
DecouplingKata.Tests/obj/Debug/net8.0/DecouplingKata.Tests.csproj.FileListAbsolute.txt
DecouplingKata.Tests/obj/Debug/net8.0/DecouplingKata.Tests.dll
DecouplingKata.Tests/obj/Debug/net8.0/DecouplingKata.Tests.GeneratedMSBuildEditorConfig.editorconfig
DecouplingKata.Tests/obj/Debug/net8.0/DecouplingKata.Tests.genruntimeconfig.cache
DecouplingKata.Tests/obj/Debug/net8.0/DecouplingKata.Tests.GlobalUsings.g.cs
DecouplingKata.Tests/obj/Debug/net8.0/DecouplingKata.Tests.pdb
DecouplingKata.Tests/obj/Debug/net8.0/DecouplingKata.Tests.sourcelink.json
DecouplingKata.Tests/obj/Debug/net8.0/ref/DecouplingKata.Tests.dll
DecouplingKata.Tests/obj/Debug/net8.0/refint/DecouplingKata.Tests.dll
